.login_container {
    -fx-background-color: #2c2638;
}

.main_text {
    -fx-text-fill: #ffff;
    -fx-font-size: 45;
    -fx-font-weight: bold;
}

.username_box {
    -fx-background-color: #3c364c;
    -fx-background-radius: 5;
    -fx-text-fill: #ffff;
    -fx-prompt-text-fill: "Username";
}

.password_box {
    -fx-background-color: #3c364c;
    -fx-background-radius: 5;
    -fx-text-fill: #ffff;
    -fx-prompt-text-fill: "Password";
}

.error_label {
    -fx-text-fill: #ff0000;
    -fx-font-size: 1.2em;
}

.singup_button {
    -fx-background-radius: 5;
    -fx-background-color: #6d54b5;
    -fx-text-fill: #ffff;
    -fx-cursor: hand;
}

.singup_button:hover {
    -fx-background-color: #5944a3;
    -fx-text-fill: #ffffff;
}

.noaccount_label {
    -fx-text-fill: #ffff;
}

.rounded_image {
    -fx-background-radius: 15;
    -fx-clip-radius: 15;
}

.singupLable {
    -fx-text-fill: #1596c8;
    -fx-cursor: hand;
}

.singupLable:hover {
    -fx-text-fill: #5944a3;
}

.forgotLable {
    -fx-text-fill: #1596c8;
    -fx-cursor: hand;
}

.forgotLable:hover {
    -fx-text-fill: #5944a3;
}

.password_chk {
    -fx-text-fill: #ffffff;
    -fx-cursor: hand;
}




